body {
    background-color: black;
    margin-left: 0px;
    width: 1024px;
}

header {
  display: flex;
  justify-content: center;
}
#Logo {
    height: 200px;
    width: 200px;
    margin-top: 5px;
}
ul {
    background-color: #D51920;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    color: black;
    height: 70px;
    list-style-type: none;
    font-family: monospace;
}
li {
    color: black;
    transition-property: color;
    transition-duration: 0.5s;
}
li:hover {
     color: white;
    transition-property: color;
    transition-duration: 0.5s;
}
a {
    text-decoration: none;
}
h1 {
    color: white;
    display: flex;
    justify-content: center;
    font-family: monospace
}
p,h1,h2 {
    color: white;
}
#logo {
    width: 270px;
    height: 270 px;
    color: white;
    border-color: firebrick;
    display: flex;
    justify-content: space-around
}
h4 {
    color: white;
    font-family: monospace;
    display: flex;
    justify-content: flex-start;
    width: 400px;

}
h3 {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: monospace
}
#About-Me {
    width: 100%;
    display: flex;
}
#AboutMe {
    width: 400px;
    display: flex;
    justify-content: center;
    margin-left: 270px;
}
#Portfolio-description {
    display: flex;
    justify-content: center;
}
#Portfolio-items-1 {
    display: flex;
    justify-content: space-between;
     margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
#Artwork-1 {
    border: solid 5px #D51920;
   width: 150px;
    height: 150px;
    image-orientation: 90deg;
}
#Artwork-2 {
    border: solid 5px #D51920;
    background-color: white;
    width: 150px;
    height: 150px;
}
#Artwork-3 {
     border: solid 5px #D51920;
    background-color: white;
    width: 150px;
    height: 150px;
}
#Portfolio-items-2 {
    display: flex;
    justify-content: space-between;
     margin-left: 20px;
    margin-right: 20px;
}
#Artwork-4 {
     border: solid 5px #D51920;
    background-color: white;
    width: 150px;
    height: 150px;
}
#Occupation {
    display: flex;
    justify-content: center;
    margin-left: 180px;
}
#Contacts {
    color: white;
    transition-property: color;
    transition-duration: 0.5s;
}
#Contacts:hover {
    color: #D51920;
    transition-property: color;
    transition-duration: 0.5s;
}
    #Last-updated {
        margin-left: 20px;
}
/*start of media query small screen*/
@media only screen and (max-width: 700px) {
    body {
        width: 700px;
    }
    #AboutMe {
        margin-left: 170px;
    }
