body {
    background-color: black;
    margin: 0px;
}

header {
  display:flex;
    justify-content: center;
}
#Logo {
    height: 200px;
    width: 200px;
}
ul {
    background-color: firebrick;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    height: 70px;
    list-style-type: none;
    font-family: monospace;
}

h1 {
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-family: monospace
}

p,h1,h2 {
    color: white;
}
div{
    width: 270px;
    height: 270 px;
    color: white;
    border-color: firebrick;
}
h4 {
    color: white;
    font-family: monospace;
    display: flex;
    justify-content: flex-end
}
