body {
    background-color: black;
    margin: 0px;
}

header {
  display:flex;
    justify-content: center;
}
#Logo {
    height: 200px;
    width: 200px;
}
ul {
    background-color: firebrick;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    height: 70px;
    list-style-type: none;
    font-family: monospace;
}
li {
    color: black;
    transition-property: color;
    transition-duration: 0.5s;
}
li:hover {
     color: white;
    transition-property: color;
    transition-duration: 0.5s;
}
a {
    text-decoration: none;
}
h1 {
    color: white;
    display: flex;
    justify-content: center;
    font-family: monospace
}
p,h1,h2 {
    color: white;
}
#logo {
    width: 270px;
    height: 270 px;
    color: white;
    border-color: firebrick;
    display: flex;
    justify-content: space-around
}
h4 {
    color: white;
    font-family: monospace;
    display: flex;
    justify-content: flex-end;
}
h3 {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: monospace
}
#About-Me {
    width: 100%

}
#Photo-of-me {
    border: solid 5px firebrick;
    background-color: white;
    height: 270px;
    width: 270px;
    display: flex;
    align-content: space-between
}
#about-p {
    width: 400px;
    display: flex;
}

